$headerHeight: 8rem;
$footerHeight: 5rem;

/* Font Size Setting */
$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeBig: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSizeLarger: 24px;

/* Font Color Setting */
$fontColorWhite: #fff;
$fontColorGray: #373d41;
$fontColorBlack: #000;
$fontColorRed: #cc0000;

/* Font textAlign Setting */
$textAlignLeft: left;
$textAlignCenter: center;
$textAlignRight: right;

/* Background Color Setting */
$orangeBackground: #fe2c23;
$whiteBackground: #fff;
$BlackBackground: #000;
$RedBackground: #cc0000;

* {
  // margin: 0;
  // padding: 0;
}
html{
  font-size: 14px ;
  font-family: Microsoft YaHei, Arial;
}
.el-button, .el-input__inner, .el-select  {
  font-family: Microsoft YaHei, Arial;
}
table{
  border-spacing: 0px ;
}

@media screen and (max-width: 1366px){
	html{
		font-size: 14px ;
	}
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 ;
  padding: 0 ;
  background: #edf0f5 ;
}

.wk-main {
  width: 100%;
  // position: absolute ;
  padding-top: $headerHeight;
  // top:$headerHeight;
  // left: 0 ; 
  float: left;
  padding-bottom: $footerHeight ; 
}

.wk-content{
  padding: 20px 35px ;
  min-height: 700px ;
}
@media screen and (max-width: 1366px) {
  .wk-main{
   padding-top: 5.3rem ; 
  }

  .wk-content{
    min-height: 400px ;
  }
}

.mt20 {
  margin-top: 20px;
}

.tar {
  text-align: right;
}

/* table style*/
.el-table--border, 
.el-table--group{
  border: 0px ;
}

.el-tabs__nav-wrap::after{
  height: 1px ;
  background-color: $BlackBackground ;
}

.el-tabs__item{
  font-size: 18px ;
  color: $fontColorBlack ;
  letter-spacing: -0.5px ;
}

.el-tabs__item:hover,
.el-tabs__item.is-active{
  color: $fontColorRed ;
}

.el-tabs__active-bar{
  height: 4px ;
  background-color: $RedBackground ;
}

.el-table{
  color: #272727 ;
}

.el-table thead{
  color: $fontColorBlack ;
}

.el-table--border td, 
.el-table--border th, 
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 0px ;
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
  background: #edf0f5 ;
}

.el-table .descending .sort-caret.descending{
  border-top-color: $RedBackground ;
}

.el-table .ascending .sort-caret.ascending{
  border-bottom-color: $RedBackground ;
}

.el-table td, 
.el-table th.is-leaf{
  border: 0px ;
}

.el-table th,
.el-table td{
  padding: 6px 0px ;
  background: #edf0f5 ;
}

.el-dialog .el-table--border::after, 
.el-dialog .el-table--group::after, 
.el-dialog .el-table::before{
  background: #edf0f5 ;
}

.el-table td .cell{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 7rem ;
  background: #fff ;
  border-top: 1px solid #d7e0f1 ;
  border-bottom: 1px solid #d7e0f1 ;
  box-shadow: 2px 2px 2px #d7e0f1;
}

.el-table td:first-child .cell{
  border-top-left-radius: 8px ;
  border-bottom-left-radius: 8px ;
  border-left: 1px solid #d7e0f1 ;
}

.el-table td:last-child .cell{
  border-top-right-radius: 8px ;
  border-bottom-right-radius: 8px ;
  border-right: 1px solid #d7e0f1 ;
}

/* select style */

.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus{
  border-color: $RedBackground ;
}
/**
.login-form input::-webkit-input-placeholder{
    color:#cc0000;
}
.login-form input::-moz-placeholder{
    color:#cc0000;
}
.login-form input:-moz-placeholder{
    color:#cc0000;
}
.login-form input:-ms-input-placeholder{
    color:#cc0000;
}
**/

.el-input__inner{
  height: 48px ;
  line-height: 48px ;
}

.el-select-dropdown__item.hover{
  background: $RedBackground ;
}
.el-textarea__inner:focus {
    border-color: $RedBackground;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background: #fff9f9 ;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #fff9f9;
    color: #606266;
}
/* button */
.el-button--primary{
  background-color: $RedBackground;
  border-color: $RedBackground ;
}

.el-button:focus, 
.el-button:hover{
  color: $fontColorRed ;
  border-color: $fontColorRed ;
  background-color: #fff9f9; 
}

.el-select-dropdown__item.selected{
  color: $fontColorRed ;
}

/* pagination */
.el-pagination{
  float: right ;
}

.el-pagination.is-background .btn-next, 
.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .el-pager li{
  color: $fontColorBlack ;
  border: 1px solid #f4f4f5 ; 
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: $RedBackground ;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: $fontColorRed ;
  background: #fff9f9 ;
  border: 1px solid $fontColorRed ; 
}

/* form */
.el-form-item__label{
  color: $fontColorBlack ;
  line-height: 48px ;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: $RedBackground ;
  background: $RedBackground ;
}
.el-radio__input.is-checked+.el-radio__label {
  color: $fontColorRed ;
}
.el-collapse-item__header {
  padding-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.el-dialog__footer {
  text-align: center;
}
.code-message {
  background: rgb(252,243,238);
  border:1px solid #ef2923;
  padding: 15px;
  margin: 10px 0;
  color:black;
  // border-radius: 4px;
  // box-shadow: 0px 1px 6px 3px #999;
  // padding: 5px 10px;
  z-index: 2;
}
.breakpoint {
  left: 0 !important;
}
.code-brekpoints {
  //background-color: green;
  background-color:rgb(255,151,142);
}
.CodeMirror-linenumber {
  color: $fontColorBlack !important;
}
.CodeMirror-gutters {
  background-color: rgb(226,226,226) !important;
}
.tr-highlight td {
  cursor: pointer;
}
.tr-highlight .cell {
  
  border-top: 1px solid $RedBackground !important;
  border-bottom:  1px solid $RedBackground !important;
  background-color: #fff9f9 !important;
  cursor:pointer !important;
}
.tr-highlight td:first-child .cell {
  border-left: 1px solid $RedBackground !important;
}
.tr-highlight td:last-child .cell {
  border-right: 2px solid $RedBackground !important;
}

.el-checkbox__inner{
  width: 22px ;
  height: 22px ;
}

.el-checkbox__inner::after{
  width: 6px ;
  height: 12px ;
  top: 2px ;
  left: 7px ;
}

.el-checkbox__input.is-checked .el-checkbox__inner, 
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: $RedBackground;
  border-color: $RedBackground;
}

.el-checkbox__inner:hover{
  border-color: $RedBackground;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 8px ;
}

/* dialog */
.el-dialog{
  border-radius: 8px ;
}

.el-dialog .el-table th, 
.el-dialog .el-table td,
.el-dialog .el-table--border::after, 
.el-dialog .el-table--group::after, 
.el-dialog .el-table::before,
.el-dialog .el-table--enable-row-hover .el-table__body tr:hover > td{
  background-color: $whiteBackground ;
}

.compare-content .el-dialog__header {
    padding: 0px 20px 10px !important;
}
.compare-content thead label.el-checkbox {
  display: none;
}

/* highchart */
.highcharts-menu {
  border: 0 !important;
  box-shadow:1px 1px 6px 3px #d7e0f1 !important;
}
.highcharts-menu-item:hover {
  background: #fff9f9 !important;
  color: #606266 !important;     
}