html{
  height: 100% ;
	}

.login{
  position: absolute; ;
  top: 0 ;
  left: 0 ;
  bottom: 0 ;
  width: 100% ;
  height: 100% ;
  background: linear-gradient(#f6a742, #fe2922) no-repeat;
  }

.login-main{
  position: absolute ;
  top: 50% ;
  left: 50% ;
  margin-top: -25rem ;
  margin-left: -23rem ;
  width: 46rem ;
  height: 37rem ;
  padding: 3rem 0 6rem 0rem ;
  background: rgba(255, 255, 255, 0.3) ;
  border-radius: 4px ;
}

.login-logo{
  text-align: $textAlignCenter ;
}

.login-title{
	font-size: 1.72rem ;
	color: $fontColorWhite ;
	text-align: $textAlignCenter ;
	letter-spacing: 1px ;
	margin-top: 1.5rem ;
}

.login-form{
	padding: 2rem 6.6rem 0rem 0rem ;
}

.login-alert{
	padding: 3rem 6.6rem 0px 6.6rem ;
}

.el-alert{
	width: 100% ;
	height: 4.28rem ;
	color: $fontColorBlack ;
	padding: 0px 15px ;
	background: $whiteBackground ;
	border: 2px solid #ff924b ;
}

.el-alert__title,
.el-alert__icon{
	font-size: $fontSize22 ;
}

.el-alert__closebtn{
	font-size: $fontSizeBig ;
	top: 20px ;
}

.el-alert__icon{
	margin-right: 10px ;
}

.el-alert__icon{
	color: #ff934c ;
}

.el-form-item{
  	margin-bottom: .8rem ;
  }

.el-form-item__label{
	width: 6.6rem ;
	color: $fontColorWhite ;
	font-size: $fontSize18 ;
	line-height: 4rem ;
}

.el-form-item__content{
	margin-left: 6.6rem ;
}

.el-input{
	color: #cc0000 ;
}

.el-button:hover{
	background : #fe3f32 ;
}

.el-input__inner{
	color: #cc0000 ;
	text-align: center;
	font-size: $fontSizeBig ;
	height: 4rem ;
	line-height: 4rem ;
	border: 1px solid #feeae2 ;
	border-radius: 6px; 
}

.el-input.is-active .el-input__inner, 
.el-input__inner:hover,
.el-input__inner:focus{
	border: 1px solid #ff924b ;
}

.el-button{
	width: 100% ;
	height: 4rem ;
	margin-top: 1.5rem;
	font-size: $fontSize18 ;
	padding: 0px ;
	border: none ;
	border-radius: 6px;
}

.el-button+.el-button{
	margin-left: 0px ;
}

.el-button,
.el-button:active,
.el-button:focus{
	background: $orangeBackground ;
}

.copyRight{
	position: fixed ;
	bottom: 1rem ;
	width: 100% ;
	text-align: center ;
	color: $fontColorWhite ;
}

@media screen and (max-width: 1366px) {

	.login-main{
		margin-top: -18rem ;
		margin-left: -16.42rem ;
	    width: 32.85rem ;
	    height: 25rem ;
	}

	.login-logo img{
		width: 230px ;
	}

	.login-title{
		font-size: $fontSize18 ;
		margin-top: .8rem ;
	}

	.login-alert{
		padding: 2rem 5rem 0 5rem ;
	}

	.el-alert,
	.el-button{
		height: 3rem ;
		line-height: 3rem ;
	}
    
	.login-form{
		padding: 1.4rem 5rem 0 0 ;
	}

    .el-alert__title{
		font-size: $fontSizeBig ;
	}

	.el-form-item{
	  	margin-bottom: .6rem ;
	}

	.el-form-item__label{
		width: 5rem ;
		font-size: $fontSizeMedium ;
		line-height: 3rem ;
	}

	.el-form-item__content{
		margin-left: 5rem ;
	}

	.el-input__inner{
		height: 3rem ;
		line-height: 3rem ;
	}

	.el-button{
		font-size: $fontSizeMedium ;
		margin-top: 1rem ;
	}

}